* {
  box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/lota-grotesque-alt-1');
// font-family: 'Lota Grotesque Alt 1', sans-serif;
// font-family: 'Lota Grotesque Alt 2', sans-serif;
// font-family: 'Lota Grotesque Alt 3', sans-serif;
// font-family: 'Lota Grotesque', sans-serif;



html {
  --bg: #fff;
  --fg: #25282A;
  --gray: #888;
  --royal: #0072CE;
  --blue: #6AD1E3;
  --secondary: var(--royal);
  --tertiary: #FF585D;

  --primary: #730384;
  --primarylight: #F2AAFF;
  --primarydark: #78058b;

  ;



  //background-color: var(--bg);
  background-image: linear-gradient(234deg, #f7fbf7 50%, #e1b8dc);

  min-height: 100vh;

  font-family:'Lota Grotesque Alt 1', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  // @media (prefers-color-scheme: dark) {
  //   --bg: #25282A;
  //   --fg: #fff;
  //   --secondary: var(--blue);

  //   ::selection {
  //     background: var(--secondary);
  //     color: var(--fg);
  //   }
  // }
}
body {
  margin: 0px;
}
.swapApp {
  margin: 0 auto;
  padding: 0 10 px;
  max-width: 479px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}
fieldset .options {
  position: absolute;
  right: 14px;
  top: 24px;
  transition: visibility 0s, opacity 0.5s linear;
}
fieldset .options .invert, fieldset .options .default {
  position: absolute;
  right: 10px;
}
fieldset .options .invert{ opacity: 0; }
fieldset .options:hover .default{ opacity: 0; }
fieldset .options:hover .invert {
  opacity: 1;
  transition-duration: 700ms;
  transform: rotate(25deg); /* Equal to rotateZ(45deg) */
}
.highlight {
  align-items: center;
  text-align: right;
  margin: 0px;
  label {
    margin-right: 0px;
  }
  input {
    text-align: right;
    width: 100%;
    caret-color: var(--primary);
  }
}

label {
  color: var(--primary);
}

button {
  border-radius: 12px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  // padding: 0.5em 1em;

  &:hover, &:focus, &:focus-within {
    border-color: var(--primarydark);
  }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

button, input {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}
a {
  cursor: pointer;
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover, &:focus {
    border-color: transparent;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
  }
}
.main {                                 /* add space for header */
  margin-top: 120px;
}
.header {                               /* Container */
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px 0px;
  margin: 30px 0;
}
.header h1 {                            /* Logo with text */
  margin: 0px;
  padding-left: 60px;
  position: absolute
}
.header .logo {
  position: absolute;
  font-size: 45px;
  padding-top: 5px;
  padding-left: 180px;
  @media (max-width: 1000px) {
    padding-left: 50px;
  }
  @media (max-width: 767px) {
    padding-left: 40px;
  }
}
.topMenu{                               /* Center menu buttons */
  z-index: 10;
  float: right;
  position: relative;
  display: table;
  width: 40%;
  font-size: 120%;
  text-align: center;
  margin: 15px 30%;
  table-layout: fixed;
  border-spacing: 2px;
  @media (max-width: 1000px) {
    width: 60%;
    margin: 15px 20%;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin: 60px 0%;
  }
}
.topMenu .nav-item {
  display: table-cell;
  z-index: 10;
}
.topMenu a{
  z-index: 10;
  text-decoration: none;
  color: var(--primary);
  border-bottom: 1px solid transparent;
  padding: 0px;
  border-radius: 0px;
}
.topMenu a:hover {
  color: #868f97;
}

header button {                                     /* wallet button */
  position: absolute;
  top: 32px;
  right: 30px;
  width: 224px;
  height: 42px;
  background: var(--primary);
  color: var(--primarylight);
  border-radius: 12px;
  border: 0px solid var(--primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  padding: 11px 24px;
}
header button:hover {
  background: var(--bg);
  color: var(--primary);
  border: 0px solid var(--primary);
  background-image: linear-gradient(37deg, #dcb5f39e, #fbd1b99e);
}

.loginButton .wallet {
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 59px;
  background: var(--primary);
  border-left: 1px solid var(--primarylight);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  & img {
    padding: 15px 20px;
  }
}




fieldset, .elementBox {                              /* element containers */
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 24px;
  background: var(--bg);
}
.elementBox {
  margin: 4px 0px;
}
.elementBox.maxBox {
  width: 431px;
  height: 134px;
}
.elementBox .row{
  display: flex;
}
.elementBox .selection{
  flex: 4;
  white-space: nowrap;
}
.elementBox .price .value{
  padding: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  text-align: right;
}
.elementBox .price{
  flex: 2;
  color: var(--primary);
  position: relative;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: right;
}
.elementBox .topText{
  color: var(--primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.downArrow {
  border-radius: 100px;
  background: var(--primary);
  position: absolute;
  right: calc(50% - 20px);
  height: 40px;
  width: 40px;
  margin-top: -43px;
  padding: 10px;
}
.downArrow svg {
  width: 100%;
  height: 100%;
  padding: 0px 4px
}
.elementFooter{
  font-size: 60%;
  border-radius: 0px;
  margin: 0 -20px;
  padding: 20px 40px 0px 40px;
  border: none;
  border-top: 1px solid var(--primary);
}
.elementFooter p{
  color: var(--primary);
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}
.elementFooter p.lables {
  margin: 0px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.elementFooter p{ margin: 5px 0; }
.elementFooter .selection:nth-child(2){ flex:8; text-align: right; }

.modeMenu{                                          /* in element menu buttons */
  color: var(--primary);
  display: table;
  table-layout: fixed;
  padding: 4px;

}
.modeMenu a{
  padding: 2px;
  display: table-cell;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding-right: 8px;
}
.modeMenu a:nth-child(2){ padding-left: 8px;}
.modeMenu a.active{ font-size: 20px; line-height: 26px; }
.modeMenu a:hover{  border-bottom: 2px solid var(--primary); }
.elementButton button{                                /* Compleate button in same style as element */
  width: -webkit-fill-available;
  color: var(--primary);
  padding: 20px;
  margin: 9.5px 13px 24px 13px;
  background: linear-gradient(58.74deg, rgba(12, 0, 56, 0.3) -44.14%, rgba(97, 32, 218, 0.3) -11.77%, rgba(255, 0, 212, 0.3) 54.54%, rgba(255, 142, 0, 0.3) 102.28%, rgba(255, 245, 0, 0.3) 159.58%);
  border: 1px solid var(--primary);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.elementButton button.btn-grey{
  background-image: none;
  font-size: 70%;
}
.elementButton button.btn-grey:hover{ background-image: none; background-color: #e8cdec; }
.elementButton button:hover{ background-image: linear-gradient(37deg, #dcb5f39e, #fbd1b99e); }
.dropbtn {                                            /* in element dropdown menu */
  background-color: transparent;
  border-radius: 12px;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 3px;
  font-size: 16px;
  display: flex;
  height: 38px;
}
.dropbtn .circle {
  border-radius: 100px;
  margin: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  width: 23px;
  height: 23px;
  background: white;
}
.dropdown-content .circle{
  border-radius: 100px;
  margin: 4px 11px 4px -4px;
  border: 1px solid var(--primary);
  width: 23px;
  height: 23px;
  background: white;
  font-size: 18px;
}
.dropdown-content .circle .circleLabel{
  position: relative;
  top: -28px;
  left: 28px;
  line-height: 23px;
  font-size: 18px;
}
.dropdown-content .circle img, .dropbtn .circle img {
  max-width: 23px;
  max-height: 23px;
  padding: 5px;
  margin-left: -1px;
  margin-top: -1px;
}

.dropbtn .name {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
}
.dropbtn .name svg{
  margin: 0px 8px;
  padding-top: 1px;
  margin-bottom: 2px;
}
.balance {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid var(--primary);
  border-radius: 12px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
  padding: 2px 15px 2px;
}
.dropdown-content a:hover {background-color: var(--primary); color: var(--bg);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: var(--primary); color: var(--bg);}



